# Computer Class 1b - basics of pandas

The examples and exercises of this computer class introduce the student to working with the pandas library. It can be used in conjunction with chapters 5-8 of the McKinney book.

*Authors: Cees Diks and Bram Wouters, Faculty Economics and Business, University of Amsterdam (UvA)* <br>
*Copyright (C): UvA (2020)* <br>
*Credits: some of the examples and formulations are taken from McKinney.*

In [1]:
# Importing the relevant modules
import numpy as np
import pandas as pd

# 1. Creating a Series and Series basics

**Exercise 1:** create a Series with indices 'United States', 'Netherlands', 'Australia','Uruguay' and values 'North America', 'Europe', 'Oceania', 'South America', respectively. Call the Series `ser1` and show the result.

In [2]:
ser1 = pd.Series(['North America', 'Europe', 'Oceania', 'South America'], 
                index = ['United States', 'Netherlands', 'Australia', 'Uruguay']
               )

ser1

United States    North America
Netherlands             Europe
Australia              Oceania
Uruguay          South America
dtype: object

**Exercise 2:** use a dictionary to create a second Series (called `ser2`) with indices 'Netherlands','China','France' and values 'Europe', 'Asia', respectively. The value corresponding to the index 'France' is missing on purpose and Python reports it as NaN (Not a Number). Show the result.

In [3]:
ser2 = pd.Series({'Netherlands' : 'Europe', 'China' : 'Asia'},
                index = ['Netherlands','China','France']
               )

# ser2 = pd.Series({'Netherlands' : 'Europe', 'China' : 'Asia', 'France' : np.nan}) # Alternative solution

ser2

Netherlands    Europe
China            Asia
France            NaN
dtype: object

**Exercise 3:** use the pandas function `concat` to merge `ser1` and `ser2`. Call the resulting Series `ser3` and print the result.

In [4]:
ser3 = pd.concat([ser1,ser2])

ser3

United States    North America
Netherlands             Europe
Australia              Oceania
Uruguay          South America
Netherlands             Europe
China                     Asia
France                     NaN
dtype: object

**Exercise 4:** remove the duplicated data from `ser3`. Note that instead of redefining `ser3`, you can also use the `inplace` keyword. Print the resulting `ser3`. (Hint: use the Series method `drop_duplicates`.)

In [5]:
ser3.drop_duplicates(inplace=True)

ser3

United States    North America
Netherlands             Europe
Australia              Oceania
Uruguay          South America
China                     Asia
France                     NaN
dtype: object

**Exercise 5:** create a boolean that checks whether there are any missing values (NaN) in `ser3`.

In [6]:
np.any(pd.isnull(ser3))

True

**Exercise 6:** replace the missing value in `ser3` by the correct continent.

In [7]:
ser3['France'] = 'Europe'

**Exercise 7:** a Series and the index of a Series both have a name attribute. This can be useful when dealing with many different Series and/or when multiple people need to work with the same Series. Give `ser3` the following name: 'continent'. Also, give the index of `ser3` the name 'country' and print the resulting `ser3`.

In [8]:
ser3.name = 'continent'
ser3.index.name = 'country'

ser3

country
United States    North America
Netherlands             Europe
Australia              Oceania
Uruguay          South America
China                     Asia
France                  Europe
Name: continent, dtype: object

# 2. Creating a DataFrame and DataFrame basics

**Exercise 8:** create DataFrame that corresponds to the table below and bind the variable `df1` to it. The first column in the table below should serve as index of the DataFrame. Make sure the column indices match the column names of the table. Show the resulting `df1` as output.

|**country**|**GDP (nominal, \$MM)**| **population (MM)**|
|:-------|:-------------|:--------|
| **United States**        |    20412870          |    327.4     |
| **France**        |    2925096          |    67.2     |
| **Netherlands**        |   945327          |    17.2     |
| **Australia**        |    1500256          |    25.0     |
| **Uruguay**        |    63370          |    3.5     |

In [9]:
df1 = pd.DataFrame({'country' : ['United States','France', 'Netherlands', 'Australia', 'Uruguay'], 
                    'population (MM)' : [327.4, 67.2 , 17.2, 25.0, 3.5],
                    'GDP (nominal, $MM)' : [20412870, 2925096, 945327, 1500256, 63370]
                   })

df1.set_index('country', drop=True, inplace=True)

df1

               population (MM)  GDP (nominal, $MM)
country
United States            327.4            20412870
France                    67.2             2925096
Netherlands               17.2              945327
Australia                 25.0             1500256
Uruguay                    3.5               63370

**Exercise 9:** use square brackets `[]` to extract the population column from the DataFrame and print it. Also, verify explicitely that this column is a Series object.

In [10]:
print(df1['population (MM)'])

print('')
print(type(df1['population (MM)']))

isinstance(df1['population (MM)'], pd.Series) # Alternative method

country
United States    327.4
France            67.2
Netherlands       17.2
Australia         25.0
Uruguay            3.5
Name: population (MM), dtype: float64

<class 'pandas.core.series.Series'>

True

**Exercise 10:** add `ser3` as an extra column to `df1` and call the new DataFrame `df2`. Make sure that China is included as a row in `df2`. (Hint: turn `ser3` into a DataFrame with the method `to_frame` and subsequently use `merge`. Use the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) to find out which keywords you need.)

In [11]:
df2 = df1.merge(ser3.to_frame(), how='outer', left_index=True, right_index=True)

df2

               population (MM)  GDP (nominal, $MM)      continent
country
Australia                 25.0           1500256.0        Oceania
China                      NaN                 NaN           Asia
France                    67.2           2925096.0         Europe
Netherlands               17.2            945327.0         Europe
United States            327.4          20412870.0  North America
Uruguay                    3.5             63370.0  South America

**Exercise 11:** replace the missing values for China by the actual values. (Note: use `at[...]` for accessing values of a DataFrame. Don't use `get_value`; this is an old method that will be discarded in future versions of pandas.) Also note that for indexing one can use both index/column names and integers.

In [12]:
df2.at['China','GDP (nominal, $MM)'] = 14092514
df2.at['China','population (MM)'] = 1392.6

df2

               population (MM)  GDP (nominal, $MM)      continent
country
Australia                 25.0           1500256.0        Oceania
China                   1392.6          14092514.0           Asia
France                    67.2           2925096.0         Europe
Netherlands               17.2            945327.0         Europe
United States            327.4          20412870.0  North America
Uruguay                    3.5             63370.0  South America

**Exercise 12:** add another column called 'visited?' to `df2`. The values must be booleans and indicate whether or not you have visited the country.

In [13]:
df2['visited?'] = [False,False,True,True,True,False]

df2

               population (MM)  GDP (nominal, $MM)      continent  visited?
country
Australia                 25.0           1500256.0        Oceania     False
China                   1392.6          14092514.0           Asia     False
France                    67.2           2925096.0         Europe      True
Netherlands               17.2            945327.0         Europe      True
United States            327.4          20412870.0  North America      True
Uruguay                    3.5             63370.0  South America     False

**Exercise 13:** add another column called 'GDP per capita (nominal, \$)' to `df2`. The values are the nominal GDP per capita, which can be calculated with the data in the other columns of the DataFrame.

In [14]:
df2['GDP per capita (nominal, $)'] = df2['GDP (nominal, $MM)']/df2['population (MM)']

df2

,population (MM),"GDP (nominal, $MM)",continent,visited?,"GDP per capita (nominal, $)"
country,,,,,
Australia,25.0,1500256.0,Oceania,False,60010.240000
China,1392.6,14092514.0,Asia,False,10119.570587
France,67.2,2925096.0,Europe,True,43528.214286
Netherlands,17.2,945327.0,Europe,True,54960.872093
United States,327.4,20412870.0,North America,True,62348.411729
Uruguay,3.5,63370.0,South America,False,18105.714286

**Exercise 14:** sort the rows of `df2` by GDP per capita in descending order and show the resulting `df2` as output. (Hint: choose between `sort_index` and `sort_values` which one to use.)

In [15]:
df2.sort_values(by='GDP per capita (nominal, $)', inplace=True, ascending=False)

df2

,population (MM),"GDP (nominal, $MM)",continent,visited?,"GDP per capita (nominal, $)"
country,,,,,
United States,327.4,20412870.0,North America,True,62348.411729
Australia,25.0,1500256.0,Oceania,False,60010.240000
Netherlands,17.2,945327.0,Europe,True,54960.872093
France,67.2,2925096.0,Europe,True,43528.214286
Uruguay,3.5,63370.0,South America,False,18105.714286
China,1392.6,14092514.0,Asia,False,10119.570587

## Slicing and filtering

There exist two methods  for slicing a DataFrame: `loc` when using index/column names and `iloc` when using integers to specify rows/columns. Note that slicing with `loc` is inclusive with respect to the last element, while slicing with `iloc` is exclusive (as was the case for NumPy's ndarrays).

**Exercise 15:** use `loc` to extract the row about the Netherlands from `df2`. (Note that in this case a Series is returned.)

In [16]:
df2.loc['Netherlands'] # The output is a Series

population (MM)                        17.2
GDP (nominal, $MM)                 945327.0
continent                            Europe
visited?                               True
GDP per capita (nominal, $)    54960.872093
Name: Netherlands, dtype: object

**Exercise 16:** use `loc` to extract the rows up to and including the Netherlands from `df2`. (Note that in this case a DataFrame is returned.)

In [17]:
df2.loc[:'Netherlands']

,population (MM),"GDP (nominal, $MM)",continent,visited?,"GDP per capita (nominal, $)"
country,,,,,
United States,327.4,20412870.0,North America,True,62348.411729
Australia,25.0,1500256.0,Oceania,False,60010.240000
Netherlands,17.2,945327.0,Europe,True,54960.872093

**Exercise 17:** extract the rows up to and including the Netherlands from `df2`, and only the columns about the population and GDP per capita.

In [18]:
df2.loc[:'Netherlands', ['population (MM)', 'GDP per capita (nominal, $)']]

               population (MM)  GDP per capita (nominal, $)
country
United States            327.4                 62348.411729
Australia                 25.0                 60010.240000
Netherlands               17.2                 54960.872093

**Exercise 18:** if you have used `loc` in the previous exercise, now use `iloc` to repeat it (and vice versa).

In [19]:
df2.iloc[:3, [1,4]]

               GDP (nominal, $MM)  GDP per capita (nominal, $)
country
United States          20412870.0                 62348.411729
Australia               1500256.0                 60010.240000
Netherlands              945327.0                 54960.872093

**Exercise 19:** filtering rows from a DataFrame proceeds in the same fashion as for NumPy's ndarray, i.e. by using broadcasting with a Series of booleans. Create a DataFrame including only those countries in `df2` whose population is above 50 million.

In [20]:
df2[df2['population (MM)'] > 50.0]

,population (MM),"GDP (nominal, $MM)",continent,visited?,"GDP per capita (nominal, $)"
country,,,,,
United States,327.4,20412870.0,North America,True,62348.411729
France,67.2,2925096.0,Europe,True,43528.214286
China,1392.6,14092514.0,Asia,False,10119.570587

**Exercise 20:** create a DataFrame with only the countries you have visited.

In [21]:
df2[df2['visited?']]

,population (MM),"GDP (nominal, $MM)",continent,visited?,"GDP per capita (nominal, $)"
country,,,,,
United States,327.4,20412870.0,North America,True,62348.411729
Netherlands,17.2,945327.0,Europe,True,54960.872093
France,67.2,2925096.0,Europe,True,43528.214286

# 3. DataFrame manipulation

In the following exercises we will be working with existing data. The data is stored in an Excel file ('weather_accident_data.xlsx') and can be found on Canvas. The goal is to become acquainted with basic data cleaning and manipulation of data in a pandas DataFrame.

The data consists of daily weather data for the Netherlands for January 2018 and the daily number of traffic accidents during the same period. Parts of the data are fictional.

**Exercise 21:** import the Excel file ('weather_accident_data.xlsx') as a pandas DataFrame. The simplest way to do this is to put the Excel file in the same folder as the Jupyter notebook and the use the `read_excel` function. Inspect the data by printing it. It includes information about: 
* the date
* wind
* average temperature
* minimum temperature
* maximum temperature
* hours of sun
* hours of rain
* amount of rain
* fog
* snow
* issuing of a weather alarm
* the number of traffic accidents

The structure of the Excel file is not very practical. We would like each row to become a column in the pandas DataFrame, so you will need to transpose the data. The first column in the Excel file should become the column names of the DataFrame. The index of the DataFrame should be the default (i.e. integers starting at 0). 

Finally, give the created DataFrame the name `df` and print the first ten rows.

In [22]:
df = pd.read_excel('weather_accident_data.xlsx', index_col=0, header=None).transpose()

df.head(10)

FileNotFoundError: [Errno 2] No such file or directory: 'weather_accident_data.xlsx'

**Exercise 22:** the name of the wind column is '-' instead of 'wind'. Give the column the correct name.

In [ ]:
df = df.rename(columns={'-' : 'wind'})

**Exercise 23:** sort the rows of the DataFrame by date.

In [ ]:
df.sort_values(by='YYYYMMDD', inplace=True)

**Exercise 24:** note that the index of `df` is mixed up due to the sorting. Reset the index of `df`.

In [ ]:
df.reset_index(inplace=True, drop=True)

**Exercise 25:** accidentally the data set includes a few days in December and February. Remove those rows from `df` and reset the index again.

In [ ]:
df.drop([0,1,2,34], inplace=True)

df.reset_index(inplace=True, drop=True)

**Exercise 26:** the column 'test_probe' was created in the data collection process, but does not contain any information. Remove that column from `df`.

In [ ]:
del df['test_probe']
 
# df.drop('test_probe', axis=1, inplace=True) # Alternative code for deleting columns.

**Example:** NumPy's universal functions can also be applied to Series and DataFrames. Note that we use `astype` to create a Series/DataFrame with data of the same type. NumPy's universal functions require this.

In [ ]:
print(np.exp(df['rain(mm)'].astype(float)).head(5)) # Applying a universal function to a Series.

print('\n')

print(np.exp(df[['rain(mm)', 'rain_duration']].astype(float)).head(5)) # Applying a universal function to a DataFrame.

np.subtract(df['T_high'], df['T_low']).head(5) # Applying a binary universal function to two Series.

**Example:** pandas objects have a number of mathematical and statistical methods. Most of them are reductions (i.e., they extract a single value from a Series or (columns/rows of) a DataFrame) and are similar to the NumPy methods. An important difference is that the pandas methods can handle missing values by ignoring them. For example, in the cell below we compute the standard deviation on a NumPy array and a Series, both containing missing values.

In [ ]:
print(df['rain_duration'].values.std()) # Applying a reduction to an ndarray. The values attribute returns a NumPy array.

print(df['rain_duration'].std()) # Applying a reduction to a Series.

**Exercise 27:** the data in the 'rain(mm)' column needs some cleaning:
* one of the entries accidentally has a minus sign. Remove the minus sign.
* replace the missing values by the daily average amount of rain for January. (Hint: use `fillna`.)
* round the values to 1 decimal.

In [ ]:
df['rain(mm)'] = df['rain(mm)'].abs()

df['rain(mm)'].fillna(df['rain(mm)'].mean(), inplace=True)

df['rain(mm)'] = df['rain(mm)'].round(1)

**Exercise 28:** the values of the 'wind' column are strings. Replace them by numerical types, leaving out the 'bft'.

In [ ]:
df['wind'] = [float(x[:3]) for x in df['wind'].values]

**Exercise 29:** the 'fog' column indicates whether there was fog in the morning ('m'), evening ('e') or both morning and evening ('m/e'). Add a column to `df` called 'fog_morning' of boolean values, indicating whether there was fog in the morning. Likewise, create a column 'fog_evening'. Finally, remove the original 'fog' column from `df`.

In [ ]:
df['fog_morning'] = (df['fog'] == 'm') | (df['fog'] == 'm/e')
df['fog_evening'] = (df['fog'] == 'e') | (df['fog'] == 'm/e')

df.drop('fog', axis=1, inplace=True)

**Exercise 30:** sometimes it is useful to bin quantitative data into categories. Add a column to `df` called 'rain_intensity', whose values are strings representing rain categories depending on the amount of rain:
* 'no rain': 0 mm
* 'light rain': (0, 5] mm
* 'medium rain': (5, 10] mm
* 'heavy rain': (10, 50] mm

(Hint: pp. 203-205 of McKinney.)

In [ ]:
bins = [-1.0, 0.001, 5, 10, 50]
rain_types = ['no rain', 'light rain', 'medium rain', 'heavy rain']

df['rain_intensity'] = pd.cut(df['rain(mm)'], bins, labels=rain_types)

**Exercise 31:** create a Series that counts the frequency of the occurrence of the different rain categories in January.

In [ ]:
df['rain_intensity'].value_counts()

**Example:** the `sample` method draws a random sample of rows (or columns) from a Series or DataFrame. Drawing a sample of the size of the DataFrame is an easy way to randomly reorder the DataFrame.

In [ ]:
df.sample(5)

## Correlations

There are numerous modules that have built-in functions to compute correlations and covariances. They all have advantages and disadvantages and depending on the situation you can choose to use a specific module. We here give two examples: `corr` from the pandas module and `pearsonr` from SciPy's stats module.

**Example:** here we use pandas' `corr` function to compute the correlation between the 'wind' and 'accidents' columns. There are two disadvantages of the `corr` function: you need to make sure that the entries are all of the same type (e.g. by using `astype`) and it does not calculate the p-value of the correlation.

In [ ]:
(df['wind'].astype(float)).corr(df['accidents'].astype(float))

**Example:** the `pearsonr` function of the stats module of the SciPy package calculates both the correlation and the p-value (it returns a tuple of the two quantities). The main disadvantage of `pearsonr` is that it cannot handle missing values.

In [ ]:
from scipy import stats # Importing the stats module of the SciPy package.

print(stats.pearsonr(df['wind'],df['accidents'])) # Pearsonr returns a tuple of the correlation and the p-value.

stats.pearsonr(df['rain_duration'],df['accidents']) # Pearsonr cannot handle missing values.

**Exercise 32:** define a function called `my_correlation` whose input arguments are two equal-length Series and whose output is a tuple of the correlation and the p-value. In contrast to the `pearsonr` function, `my_correlation` should be able to handle missing values by eliminating entry lines containing missing values from both(!) Series. Test `my_correlation` by computing the correlation and p-value of 'rain_duration' and 'accidents'.

In [ ]:
def my_correlation(ser1, ser2):
    
    ser_remove = ser1.notna() & ser2.notna()
    
    ser1 = ser1[ser_remove]
    ser2 = ser2[ser_remove]
    
    return stats.pearsonr(ser1, ser2)

my_correlation(df['rain_duration'],df['accidents'])

**Exercise 33:** create a dictionary whose keys are the column names and whose values are the correlation of the specific column with the 'accidents' column. Include only those columns for which a meaningful correlation can be computed. (Hint: define a list of names of the relevant columns and use a dictionary comprehension.)

In [ ]:
corr_columns = ['wind', 'T_ave', 'T_low', 'T_high', 'sun', 'rain_duration', 'rain(mm)', 'snow']

{name : my_correlation(df[name], df['accidents'])[0] for name in corr_columns}

**Exercise 34:** create a dictionary similar to that of the previous exercise, but now only for correlations whose p-value is below 0.05. (Hint: apply a filtering using an `if` statement in the dictionary comprehension.)

In [ ]:
{name : my_correlation(df[name], df['accidents'])[0] for name in corr_columns if my_correlation(df[name], df['accidents'])[1] < 0.05}